body { 
    /*background-color: hsl(47, 88%, 63%);*/
    display: grid;}

article{ /*Caja Central*/
    box-sizing: content-box;
    width: min-content;
    padding: 15px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-shadow: 6px 6px black;
    display: flex;
    flex-wrap:wrap;}

.image-article{ /*Imagen de Cabecera*/
    border-radius: 20px;
    height: 200;
    width: 300;}

.sticker{ /* Boton/Sticker de Learning*/
    margin: 20px 0px 5px;
    background-color: hsl(47, 88%, 63%);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    height: fit-content;
    font-weight: bold;}

.learning-label { /*Texto Learning*/
    text-decoration: none;
    color: black;
    font-family: FigtreeSemiBold;
    font-size: 14px;}

.publication-date { /*Fecha de Publicacion*/
    box-sizing: border-box;
    font-size: 14px;
    color: grey;
    font-family: FigtreeSemiBold;
    margin: 10px 135px 5px 0px;}

.publication-title { /*Título de la Publicación*/
    font-size: 20px;
    font-family: FigtreeExtraBold;
    font-weight: bolder;
    margin: 0px;}

article > p { /*Texto Principal*/
    font: FigtreeItalic;
    font-size: 15px;
    color: grey;
    font-weight: bolder;
    margin: 0px;}

.autor{
    align-items:center}

.autor-image{
    justify-content: center;;
    box-sizing: border-box;
    height: 60px;
    float: left;}

.autor-name{
    position: relative;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: 0px;
    font-family: Arial;
    font-weight: bolder;}

/*predeterminado*/
.attribution { 
    font-size: 11px;
    text-align: center;
    visibility: hidden; /* TEMPORALMENTE*/
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*predeterminado*/
/*Font Call*/
@font-face {
    font-family: 'FigtreeExtraBold';
    src:url(assets/fonts/static/Figtree-ExtraBold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family:'FigtreeSemiBold';
    src:url(assets/fonts/static/Figtree-SemiBold.ttf);
    font-weight: bold;
}
/*Font Call*/



/*UNA PRUEBA TURBIA

.box {
    box-sizing: border-box; SIN ESTO SE APLICARIA A LA BOX CENTRAL (DEL CONTENIDO)
    width: 350px; ANCHO
    height: 150px; ALTO
    margin: 10px; MARGEN EXTERIOR
    padding: 25px; MARGEN INTERIOR
    border: 5px solid black; BORDE
}

UNA PRUEBA TURBIA*/
